<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/add" method="post">
      <label for="">From</label>
      <textarea name="from" id=""></textarea>
      <br />
      <label for="">To</label>
      <textarea name="to" id=""></textarea>
      <br />
      <label for="">MESSAGE</label>
      <textarea name="msg" id=""></textarea>
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
